{% extends "SalitaPacienteBundle::base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/antecedentes/general.css') }}" rel="stylesheet"/>
{% endblock %}

{% block contenido %}
  {% set otrosPlaceholder = 'pacientebundle.modifantecedente.otrosPlaceholder' | trans %}

  <h3>{% trans %}pacientebundle.modifPersonalClinico.modif.titulo{% endtrans %}</h3>
  <br/>
  {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group col-sm-12">
      {{ form_row(form.medicamentos) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.tatuajes) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.infectoContagiosas) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.traumatismos) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.internacionesPrevias) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.tuberculosis) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.diabetes) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.hipertensionArterial) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.drogas) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.tabaquismo) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.alcoholismo) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.otros, { 'attr': { 'placeholder': otrosPlaceholder } }) }}
    </div>
    <div class="form-group col-sm-8">
      <div class="col-sm-offset-5">
        {{ form_row(form.modificar) }}
      </div>
    </div>
  {{ form_end(form) }}
{% endblock %}