  <h3>
     {% trans %}
          change_password.titulo
      {% endtrans %}
  </h3>
  </br>
  {% set currentPasswordPlaceholder = 'change_password.form.currentPasswordPlaceholder' | trans %}
  {% set newPasswordFirstPlaceholder = 'change_password.form.newPasswordFirstPlaceholder' | trans %}
  {% set newPasswordSecondPlaceholder = 'change_password.form.newPasswordSecondPlaceholder' | trans %}
  
  {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group col-sm-12">
      {{ form_row(form.current_password, { 'attr': { 'placeholder': currentPasswordPlaceholder } }) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.new.first, { 'attr': { 'placeholder': newPasswordFirstPlaceholder } }) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.new.second, { 'attr': { 'placeholder': newPasswordSecondPlaceholder } }) }}
    </div>
    <div class="form-group col-sm-8">
      <div class="col-sm-offset-6">
        {{ form_row(form.cambiarPassword) }}
      </div>
    </div>
  {{ form_end(form) }}