{% extends "FOSUserBundle::layout.html.twig" %}

{% block menu %}
  <li>
      {{ include('SalitaOtrosBundle:linksHeader:linkContacto.html.twig') }}
  </li>
  <li class="active">
      {{ include('SalitaOtrosBundle:linksHeader:linkAcercaDe.html.twig') }}
  </li>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/login/login.css') }}" rel="stylesheet"/>
{% endblock %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

{# ATENCION: este form se genera demasiado a mano. Habria que ver una forma de generarlo elegantemente. 
   Corrijo. Este form se genera asi. El login.html.twig de FosUserBundle se genera a mano
#}

<div class="panel panel-primary">
  <div class="panel-heading">
    <p class="panel-title">
        {% trans %}
            security.login.titulo
        {% endtrans %}
    </p>
  </div>
  {% set usernamePlaceholder = 'security.login.form.usernamePlaceholder' | trans %}
  {% set passwordPlaceholder = 'security.login.form.passwordPlaceholder' | trans %}
  
  <div class="panel-body">  
    <form class="form-signin" role="form" action="{{ path("fos_user_security_check") }}" method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

      <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ usernamePlaceholder }}" autofocus/>

      <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="{{ passwordPlaceholder }}"/>

      <label class="checkbox">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
      </label>

      <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    </form>
  </div>
</div>
{% endblock fos_user_content %}