{% extends "::base.html.twig" %}

{% block contenido %}
  {% set usuario = app.session.get('usuario') %}
  {% set rolSeleccionado = app.session.get('rolSeleccionado') %}
  {% set codigoRolSeleccionado = rolSeleccionado.getCodigo() %}
  {% set autenticadoComoAdministrador = usuario.isAuthenticatedAdministrador(codigoRolSeleccionado) %}

  <h3>
      {% trans %}
          turnobundle.Listados.turnosDelDia.titulo
      {% endtrans %}
  </h3>
  </br>
  {% if turnos|length > 0 %}
    <table id="tabla">
      <thead>
          <tr>
              <th>
                  {% trans %}
                      turnobundle.Listados.turnosDelDia.tituloTablaNomAp
                  {% endtrans %}
              </th>
              <th>
                  {% trans %}
                      turnobundle.Listados.turnosDelDia.tituloTablaMotivo
                  {% endtrans %}
              </th>
              <th>
                  {% trans %}
                      turnobundle.Listados.turnosDelDia.tituloTablaEspecialidad
                  {% endtrans %}
              </th>
              <th>
                  {% trans %}
                      turnobundle.Listados.turnosDelDia.tituloTablaProfesional
                  {% endtrans %}
              </th>
              <th>
                  {% trans %}
                      turnobundle.Listados.turnosDelDia.tituloTablaFecHor
                  {% endtrans %}
              </th>
          </tr>
      </thead>
      <tbody>
        {% for turno in turnos %}
          <div class="turno">
            <tr>
              <td>{{turno.nombre}} {{turno.apellido}}</td>
              <td>{{turno.motivo}}</td>
              <td>{{turno.especialidad}}</td>
              <td>{{turno.medico}}</td>
              <td>{{turno.fecha}} - {{turno.hora}}</td>
              {% if autenticadoComoAdministrador %}
                <td>
                    <a href="{{path('atencion_turno', { 'idTurno': turno.id }) }}">
                        {% trans %}
                            turnobundle.Listados.turnosDelDia.linkTablaFecHor
                        {% endtrans %}
                    </a>
                </td>
              {% endif %} 
            </tr>
          </div>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h4 id="nota">
        {% trans %}
            turnobundle.general.noresultfound.message
        {% endtrans %}
    </h4>
  {% endif %}
{% endblock %}