{% extends "::base.html.twig" %}

{% block contenido %}
  <h3>
      {% trans %}
          turnobundle.Listados.turnosDelDiaEsp.titulo
      {% endtrans %}
  </h3>
  </br>
  {% if turnos|length > 0 %}
    <table id="tabla">
      <thead>
          <tr>
              <th>
                  {% trans %}
                      turnobundle.Listados.turnosDelDiaEsp.tituloTablaNomAp
                  {% endtrans %}
              </th>
              <th>
                  {% trans %}
                      turnobundle.Listados.turnosDelDiaEsp.tituloTablaMotivo
                  {% endtrans %}
              </th>
              <th>
                  {% trans %}
                      turnobundle.Listados.turnosDelDiaEsp.tituloTablaProfesional
                  {% endtrans %}
              </th>
              <th>
                  {% trans %}
                      turnobundle.Listados.turnosDelDiaEsp.tituloTablaFecHor
                  {% endtrans %}
              </th>
          </tr>
      </thead>
      <tbody>
        {% for turno in turnos %}
          <div class="turno">
            <tr>
              <td>{{turno.nombre}} {{turno.apellido}}</td>
              <td>{{turno.motivo}}</td>
              <td>{{turno.medico}}</td>
              <td>{{turno.fecha}} - {{turno.hora}}</td>
              <td>
                  <a href="{{path('atencion_turno', { 'idTurno': turno.id }) }}">
                      {% trans %}
                          turnobundle.Listados.turnosDelDiaEsp.linkTablaFecHor
                      {% endtrans %}
                  </a>
              </td>
            </tr>
          </div>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h4 id="nota">
        {% trans %}
            turnobundle.general.noresultfound.message
        {% endtrans %}
    </h4>
  {% endif %}
{% endblock %}