{% extends "SalitaPlanBundle::base.html.twig" %}

{% block contenido %}
  <h3>
      {% trans %}
          planbundle.PlanProcRespForm.listado.titulo
      {% endtrans %}
  </h3>
  </br>
  {% if planes|length > 0 %}
    <table>
      <thead>
          <tr>
              <th>
                  {% trans %}
                      planbundle.PlanProcRespForm.listado.tituloTablaPlan
                  {% endtrans %}
              </th>
              <th>
                  {% trans %}
                      planbundle.PlanProcRespForm.listado.tituloTablaPeriod
                  {% endtrans %}
              </th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
          </tr>
      </thead>
      <tbody>
        {% for planprocresp in planes %}
          <div id="planHab">
            <tr>
            <td>{{planprocresp.nombre}}</td>
            <td>{{planprocresp.periodicidad}}</td>
            <td>
                <a href="{{ path('modif_plan', { 'idPlan': planprocresp.id }) }}">
                    {% trans %}
                        planbundle.PlanProcRespForm.listado.linkTablaPeriod
                    {% endtrans %}
                </a>
            </td>
            <td>
                <a href="{{ path('deshabilitacion_planprocresp', { 'idPlan': planprocresp.id }) }}">
                    {% trans %}
                        planbundle.PlanProcRespForm.listado.linkTablaDeshab
                    {% endtrans %}
                </a>
            </td>
            <td>
                <a href="{{ path('alta_entregaplanprocresp', { 'idPlan': planprocresp.id }) }}">
                    {% trans %}
                        planbundle.PlanProcRespForm.listado.linkTablaRegEnt
                    {% endtrans %}
                </a>
            </td>
            <td>
                <a href="{{ path('listado_entregaplanprocresp', { 'idPlan': planprocresp.id }) }}">
                    {% trans %}
                        planbundle.PlanProcRespForm.listado.linkTablaListEnt
                    {% endtrans %}
                </a>
            </td>
            </tr>
          </div>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h4 id="nota">
        {% trans %}
            planbundle.PlanProcRespForm.noresultfound.message
        {% endtrans %}
    </h4>
  {% endif %}
{% endblock %}