{% extends "SalitaPacienteBundle::base.html.twig" %}

{% block contenido %}
    <h3>{% trans %}pacientebundle.HistoriaClinica.ingresoFechas.titulo{% endtrans %}</h3>
    <br/>
    {{ form_start(form) }}
      {{ form_errors(form) }}
      <div class="form-group col-sm-12">
        {{ form_row(form.diaDesde) }}
      </div>
      <div class="form-group col-sm-12">
        {{ form_row(form.mesDesde) }}
      </div>
      <div class="form-group col-sm-12">
        {{ form_row(form.anioDesde) }}
      </div>
      <div class="form-group col-sm-12">
        {{ form_row(form.diaHasta) }}
      </div>
      <div class="form-group col-sm-12">
        {{ form_row(form.mesHasta) }}
      </div>
      <div class="form-group col-sm-12">
        {{ form_row(form.anioHasta) }}
      </div>
      <div class="form-group col-sm-7">
        <div class="col-sm-offset-6">
          {{ form_row(form.generar) }}
        </div>
      </div>
    {{ form_end(form) }}
{% endblock %}