{% extends "::base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/paciente/alta.css') }}" rel="stylesheet"/>
  <link href="{{ asset('css/errores.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include('SalitaOtrosBundle:Ajax:ajax_paciente_alta.html.twig') }}
{% endblock %}

{# Para hacer customizaciones en la renderizacion de widgets que solo sean utilizadas en este template #}
{% form_theme form _self %}

{% block choice_widget_collapsed %}
{% spaceless %}
    {% if required and empty_value is none and not empty_value_in_choices and not multiple %}
        {% set required = false %}
    {% endif %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control input-sm')|trim}) %}
    {# Modificacion para que achique independientemente los selects correspondientes al dia, mes y año #}
    {% if id == "registroDatosFiliatorios_fechaNacimiento_day" or
       id == "registroDatosFiliatorios_fechaNacimiento_month" %}
      {% set col = "col-sm-2" %}
    {% elseif id == "registroDatosFiliatorios_fechaNacimiento_year" %}
      {% set col = "col-sm-2" %}
    {% else %}
      {% set col = "col-sm-6" %}
    {% endif %}
    <div class="{{ col }}"> {# Fin de la modificacion #}
      <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
          {% if empty_value is not none %}
              <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
          {% endif %}
          {% if preferred_choices|length > 0 %}
              {% set options = preferred_choices %}
              {{ block('choice_widget_options') }}
              {% if choices|length > 0 and separator is not none %}
                  <option disabled="disabled">{{ separator }}</option>
              {% endif %}
          {% endif %}
          {% set options = choices %}
          {{ block('choice_widget_options') }}
      </select>
    </div>
{% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block contenido %}
  <h3>
      {% trans %}
          pacientebundle.PacienteForm.new.titulo
      {% endtrans %}
  </h3>
  <br/>
  {% set nroDocPlaceholder = 'pacientebundle.PacienteForm.form.nroDocPlaceholder' | trans %}
  {% set nombrePlaceholder = 'pacientebundle.PacienteForm.form.nombrePlaceholder' | trans %}
  {% set apellidoPlaceholder = 'pacientebundle.PacienteForm.form.apellidoPlaceholder' | trans %}
  {% set telFijoPlaceholder = 'pacientebundle.PacienteForm.form.telFijoPlaceholder' | trans %}
  {% set telMovilPlaceholder = 'pacientebundle.PacienteForm.form.telMovilPlaceholder' | trans %}
  {% set paisPlaceholder = 'pacientebundle.PacienteForm.form.paisPlaceholder' | trans %}
  {% set partidoPlaceholder = 'pacientebundle.PacienteForm.form.partidoPlaceholder' | trans %}
  {% set localidadPlaceholder = 'pacientebundle.PacienteForm.form.localidadPlaceholder' | trans %}
  {% set barrioPlaceholder = 'pacientebundle.PacienteForm.form.barrioPlaceholder' | trans %}
  {% set callePlaceholder = 'pacientebundle.PacienteForm.form.callePlaceholder' | trans %}
  {% set numeroCallePlaceholder = 'pacientebundle.PacienteForm.form.numeroCallePlaceholder' | trans %}
  {% set calleEntre1Placeholder = 'pacientebundle.PacienteForm.form.calleEntre1Placeholder' | trans %}
  {% set calleEntre2Placeholder = 'pacientebundle.PacienteForm.form.calleEntre2Placeholder' | trans %}

  {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group col-sm-12">
      {{ form_row(form.tipoDocumento) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.nroDoc, { 'attr': { 'placeholder': nroDocPlaceholder } }) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.nombre, { 'attr': { 'placeholder': nombrePlaceholder } }) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.apellido, { 'attr': { 'placeholder': apellidoPlaceholder } }) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.fechaNacimiento) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.sexo) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.telefonoFijo, { 'attr': { 'placeholder': telFijoPlaceholder } }) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.telefonoMovil, { 'attr': { 'placeholder': telMovilPlaceholder } }) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.pais, { 'attr': { 'placeholder': paisPlaceholder } }) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.partido, { 'attr': { 'placeholder': partidoPlaceholder } }) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.localidad, { 'attr': { 'placeholder': localidadPlaceholder } }) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.barrio, { 'attr': { 'placeholder': barrioPlaceholder } }) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.calle, { 'attr': { 'placeholder': callePlaceholder } }) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.numero, { 'attr': { 'placeholder': numeroCallePlaceholder } }) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.calleEntre1, { 'attr': { 'placeholder': calleEntre1Placeholder } }) }}
    </div>
    <div class="form-group col-sm-12">
      {{ form_row(form.calleEntre2, { 'attr': { 'placeholder': calleEntre2Placeholder } }) }}
    </div>
    <div class="form-group col-sm-8">
      <div class="col-sm-offset-6">
        {{ form_row(form.guardar) }}
      </div>
    </div>
  {{ form_end(form) }}
{% endblock %}